<% include ../partials/header %>

<div class="container">
	<div class="jumbotron">
    	<div class="container">
    		<h1> Welcome to INVICTUS! </h1>
	    	<p> The Unconquerable Spirit of Sportsmanship</p> 
	    	<p>
	    		<a class="btn btn-primary btn-lg" href="/events/new">Add New Event</a>		
	    	</p>
    	</div>
  	</div>

  	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
		<% events.forEach(function(event){ %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img src="<%= event.image %>">
					<div class="caption">
						<h4><%= event.name %></h4>
					</div>
					<p>
						<a href="/events/<%= event._id %>" class="btn btn-primary">More Info</a>
					</p>
				</div>
			</div>
		<% }); %>
	</div>
</div>

<% include ../partials/footer %>